## School System Finances

In [1]:
# removes the need to call plt.show() every time
%matplotlib inline 
import missingno as msno
import seaborn as sns
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('school_data.csv')

/Users/SophiaLi/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,STATE,IDCENSUS,NAME,CONUM,CSA,CBSA,SCHLEV,NCESID,YRDATA,V33,...,V32,_19H,_21F,_31F,_41F,_61V,_66V,W01,W31,W61
0,1,1.500100e+12,AUTAUGA COUNTY SCHOOL DISTRICT,1001,N,33860,3,100240,15,9664,...,0,49431,16603,2992,63042,0,0,2094,372,8617
1,1,1.500200e+12,BALDWIN COUNTY SCHOOL DISTRICT,1003,380,19300,3,100270,15,30596,...,0,337160,99087,13027,423220,0,0,5784,50441,71370
2,1,1.500300e+12,BARBOUR COUNTY SCHOOL DISTRICT,1005,N,N,3,100300,15,925,...,0,8024,0,304,7720,0,0,0,0,646
3,1,1.500300e+12,EUFAULA CITY SCHOOL DISTRICT,1005,N,N,3,101410,15,2829,...,0,0,0,0,0,0,0,0,2054,7478
4,1,1.500400e+12,BIBB COUNTY SCHOOL DISTRICT,1007,142,13820,3,100360,15,3357,...,0,22155,0,1190,20965,0,0,1397,790,5400

In [4]:
df.columns

Index(['STATE', 'IDCENSUS', 'NAME', 'CONUM', 'CSA', 'CBSA', 'SCHLEV', 'NCESID',
       'YRDATA', 'V33',
       ...
       'V32', '_19H', '_21F', '_31F', '_41F', '_61V', '_66V', 'W01', 'W31',
       'W61'],
      dtype='object', length=141)

In [16]:
clean_df = df[['NAME', 'SCHLEV', 'TOTALREV', 'TFEDREV', 'TSTREV', 'TLOCREV', 'TCURINST', 'TCURSSVC']]

In [ ]:
#clean_df.columns = ['ID_Census', "Name", 'ANSI_Code', 'Consolidated Statistical Area1']

In [17]:
clean_df.head()

,NAME,SCHLEV,TOTALREV,TFEDREV,TSTREV,TLOCREV,TCURINST,TCURSSVC
0,AUTAUGA COUNTY SCHOOL DISTRICT,3,79665,7574,53244,18847,44085,23217
1,BALDWIN COUNTY SCHOOL DISTRICT,3,330317,23602,143282,163433,155668,99682
2,BARBOUR COUNTY SCHOOL DISTRICT,3,10519,2518,5632,2369,5249,3835
3,EUFAULA CITY SCHOOL DISTRICT,3,26076,3374,16048,6654,14887,7494
4,BIBB COUNTY SCHOOL DISTRICT,3,31825,3586,21687,6552,16019,10822

In [18]:
clean_df.shape

(14376, 8)

In [19]:
clean_df.describe()

,SCHLEV,TOTALREV,TFEDREV,TSTREV,TLOCREV,TCURINST,TCURSSVC
count,14376.000000,1.437600e+04,1.437600e+04,1.437600e+04,1.437600e+04,1.437600e+04,1.437600e+04
mean,2.883139,4.546951e+04,3.708038e+03,2.105122e+04,2.071025e+04,2.394922e+04,1.352417e+04
std,1.271649,2.590623e+05,2.021328e+04,1.125639e+05,1.367609e+05,1.777658e+05,5.894857e+04
min,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,3.000000,5.241500e+03,2.920000e+02,2.132500e+03,1.821000e+03,2.508750e+03,1.577000e+03
50%,3.000000,1.402300e+04,8.470000e+02,6.516000e+03,5.360000e+03,6.929000e+03,4.279500e+03
75%,3.000000,3.791375e+04,2.433500e+03,1.667925e+04,1.631175e+04,1.913625e+04,1.153675e+04
max,7.000000,2.543738e+07,1.307783e+06,9.837509e+06,1.429209e+07,1.903582e+07,4.694906e+06

Does the amount of revenue affect the amount of services the school provides?

Is there a difference in schools that receive local vs federal funding?